In [1]:
import pandas as pd

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: pytz>=2011k in /opt/conda/lib/python3.6/site-packages (from pandas) (2018.7)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: numpy>=1.9.0 in /opt/conda/lib/python3.6/site-packages (from pandas) (1.13.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [3]:
import psycopg2

In [4]:
conn_string = "host='db' dbname='test' user='postgres'"

In [5]:
cursor = conn.cursor()
 
cursor.execute("SELECT * FROM my_table")

NameError: name 'conn' is not defined

In [9]:
cursor = conn.cursor()

NameError: name 'conn' is not defined

In [5]:
conn = psycopg2.connect(conn_string)

OperationalError: FATAL:  database "test" does not exist

In [16]:
conn_string = "host='db' dbname='postgres' user='postgres'"

In [17]:
conn = psycopg2.connect(conn_string)

In [18]:
cursor = conn.cursor()

In [9]:
cursor.execute("SELECT * FROM my_table")

UndefinedTable: relation "my_table" does not exist
LINE 1: SELECT * FROM my_table
                      ^

In [10]:
df = pd.read_csv('wine.data')

NameError: name 'pd' is not defined

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('wine.data')

In [14]:
df.head()

,s1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [12]:
from sqlalchemy import create_engine
engine=create_engine('postgresql://postgres:@db:5432/postgres')

In [11]:
cursor = conn.cursor()

NameError: name 'conn' is not defined

In [19]:
cursor.execute('drop table wine')

In [20]:
cursor.execute('commit')

In [5]:
pd.read_sql_query('select count(*) from wine', con=engine)

   count
0    177

In [21]:
df_pg = pd.read_sql_query('select * from wine', con=engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "wine" does not exist
LINE 1: select * from wine
                      ^
 [SQL: 'select * from wine'] (Background on this error at: http://sqlalche.me/e/f405)

In [19]:
df_pg.head()

,index,s1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [20]:
df_pg = pd.read_sql_query('select count(*) from wine', con=engine)

In [22]:
pd.read_sql_query('select count(*) from wine', con=engine)

   count
0    177

In [3]:
pd.read_sql_query('select count(*) from wine', con=engine)

NameError: name 'engine' is not defined